.foldersender {
    padding:1.25em;
    text-align: left;
    display:grid;
    text-decoration: none;
    margin-left:2em;
    margin-top: 0.5em;
    /* font-size: ; */
}

.container{ 
    width: 35%;
    text-align: left; 
}

.adsbygoogle {
    position: absolute;
    width: 950px;
    height: 2000px;
    margin-left: 35%;
    /* top: 20em; */
    text-align: right;
}