.foldersender {
    padding:1em;
    text-align: left;
    display:grid;
    text-decoration: none !important;
    margin:0 auto;
    /* font-size: ; */
}

.container{
    width: 100%;
    text-align: left;
  }